    /*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
    
     :root.theme-light {
        --corner-color: #353430;
        --accent-color: #FF8DCB;
        --nav-color: #323035;
        --question-color: #353430;
        --nav-color-color-opacity: rgba(50, 49, 45, 0.4);
        ;
        --no-focus-accent-color: #FFC2E6;
        --accent-color-at-background: #353430;
        --background-image: url(../images/cover-image-light.png);
        --background-color: #FFF1F7;
        --description-color: #353430;
    }
    
    .theme-light .decorated-mark-rec {
        /* Вам также нужно будет написать ряд подобных селекторов */
        display: none;
    }
    
    @media (prefers-color-scheme: light) {
         :root {
            /* Дублируем только те же переменные, что и выше */
            --corner-color: #353430;
            --accent-color: #FF8DCB;
            --nav-color: #323035;
            --question-color: #353430;
            --nav-color-color-opacity: rgba(50, 49, 45, 0.4);
            ;
            --no-focus-accent-color: #FFC2E6;
            --accent-color-at-background: #353430;
            --background-image: url(../images/cover-image-light.png);
            --background-color: #FFF1F7;
            --description-color: #353430;
        }
        .theme-auto .decorated-mark-rec {
            /* Вам также нужно будет написать ряд подобных селекторов */
            display: none;
        }
    }