/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --corner-color: #FF0070;
    --accent-color: #ff0070;
    --nav-color: #ff0070;
    --question-color: #ff0070;
    --nav-color-color-opacity: #ff007040;
    --no-focus-accent-color: #DB00FF;
    --background-image: url(../images/cover-image-dark.png);
    --accent-color-at-background: #000028;
    --background-color: #000028;
    --description-color: #F1B2CE;
    --padding_main: clamp(10px, calc(10px + (20 - 10)*((100vw - 375px)/(768 - 375))), 20px);
}